.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fefcfd;
  padding-bottom: 100px;
}
.pcard {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f5f3f4;
  border-radius: 10px;
  width: 60%;
  height: 350px;
  margin-top: 100px;
  filter: grayscale(100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: relative;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    filter: none;
  }

  &__top {
    background-color: #d6d6d6;
    width: auto;
    height: 80px;
    color: #323232;
    display: flex;
    border-radius: 10px 10px 0 0;
    padding: 0 48px;
    align-items: center;
    justify-content: space-between;
  }
  &__name-wrap {
    display: flex;
    flex-direction: column;
  }
  &__pick {
    background-color: #d6d6d6;
    border: none;
    &-image {
      height: 40px;
    }
  }
  &__icon-wrap {
    display: flex;
    align-items: center;
  }
  &__name {
    font-size: 24px;
    text-transform: uppercase;
  }
  &__status {
    height: 30px;
    width: 30px;
    margin-left: 16px;
    border: none;
    outline: none;
    text-decoration: none;
    background-color: none;
  }
  &__team-container {
    display: flex;
  }
  &__team {
    padding-right: 16px;
  }
  &__position {
    font-weight: 500;
  }
  &__bottom {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 48px;
    border-radius: 0 0 10px 10px;
    background-color: #f5f3f4;
  }
  &__left-block {
    height: 200px;
    width: 20%;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
  }
  &__image {
    max-height: 100%;
    max-width: 100%;
    background-color: #f5f3f4;
    opacity: 0.8;
    border-radius: 15px;
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(
      45deg,
      #f9844a 0,
      #f9844a 1px,
      #f5f3f4 0,
      #f5f3f4 50%
    );
  }
  &__bio {
    // border: 1px solid hotpink;
    background-color: white;
    border-radius: 0 0 15px 15px;
    border-top: 2px solid black;
    display: flex;
    padding-top: 0;
    margin-top: 0;
    justify-content: space-around;
    font-size: 14px;
  }
  &__measurables {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  &__height {
    padding-bottom: 4px;
  }

  &__age-container {
    display: flex;
    flex-direction: column;
    padding-top: 4px;
  }
  &__right-block {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: space-between;
  }
  &__boxscore {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
  }
  &__item {
    font-size: 18px;
  }

  &__desc {
    font-size: 22px;
    font-weight: lighter;
    color: #323232;
    overflow-wrap: normal;
    text-align: left;
  }
  &__graph-container {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    justify-content: space-between;
  }
  &__icon {
    height: 60px;
    width: 60px;
  }
  &__toggle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 25px;
    bottom: -25px;
  }

  .next {
    width: 50px;
    height: 50px;
    position: absolute;
    left: -30px;
    top: 20px;
    background-color: #242423;
    color: white;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-image: url("../../assets/right-arrow.png");
  }
}
