.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  margin: 20px 60px;
}
.logo {
  color: #323323;
}
.nav {
  display: flex;
  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
  }
  &__item {
    text-decoration: none;
  }
  &__link {
    text-decoration: none;
    color: #323323;
  }
}
