section {
  background-color: #242423;
}

.details-container {
  background-color: #242423;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding-top: 60px;
}

.dets {
  width: 100%;
  margin: 100px 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  padding-bottom: 100px;
  &__basic {
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    padding-right: 100px;
  }
  &__head {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
  }
  &__image {
    background-color: white;
    display: flex;
    align-items: baseline;
    width: 350px;
    border-radius: 20px;
    border-radius: 15px;
    background-size: 10px 10px;
    opacity: 1;
    background-image: repeating-linear-gradient(
      45deg,
      #f9844a 0,
      #f9844a 1px,
      #f5f3f4 0,
      #f5f3f4 50%
    );
  }
  &__rank-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 48px;
  }
  &__rank {
    font-size: 24px;
    padding-right: 10px;
  }
  &__team {
    font-size: 22px;
  }
  &__desc {
    font-weight: 400;
    padding-bottom: 8px;
  }
  &__desc-container {
    width: 75%;
    margin-top: 48px;
    font-size: 18px;
  }
  &__odds {
    padding-top: 200px;
  }
  &__odds-head {
    padding-bottom: 8px;
  }
  &__odds-current {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 48px;
    &:hover {
      color: #52b788;
    }
  }
  &__box {
    padding-bottom: 100px;
    width: 250px;
    padding-right: 50px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: space-between;
  }
  &__box-item {
    padding-top: 16px;
    &:hover {
      color: #fcf6bd;
    }
  }
  &__box-head {
    padding-bottom: 24px;
    font-size: 18px;
    // color: #ffe97f;
  }
  &__adv-item {
    padding-top: 16px;
    &:hover {
      color: #fcf6bd;
    }
  }
  &__link-container {
    padding-top: 36px;

    transition: 0.3;
  }
  &__link {
    text-decoration: none;
    color: #fcf6bd;
    font-weight: 500;
    border-bottom: 0.75px solid #fcf6bd;
    &:hover {
      color: #52b788;
      border-bottom: 0.75px solid #52b788;
    }
  }
  &__stats {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
    padding-bottom: 150px;
    flex-direction: space-between;
    width: 100%;
  }
}

.radar-div {
  display: flex;
  justify-content: flex-end;
  margin-top: -750px;
}

.scatter-div {
  padding-top: 150px;
  padding-bottom: 100px;
}
